autom4te.cache
compile
Makefile.am
run
zmstf
aclocal.m4
configure.ac
ChangeLog
Makefile.in
testjobs
qcdnum
config.sub
gitignore_files.py
LICENCE
mbutil
dcards
lib
depcomp
config.guess
NEWS
INSTALL
COPYING
CxxWrap
ltmain.sh
missing
configure
install-sh
CxxHead
hqstf
makelibs
m4
README
weights
bin
AUTHORS
