autom4te.cache
compile
Makefile.am
run
zmstf
aclocal.m4
configure.ac
ChangeLog
Makefile.in
testjobs
qcdnum
config.sub
gitignore_files.py
LICENCE
mbutil
dcards
lib
depcomp
config.guess
NEWS
INSTALL
COPYING
CxxWrap
ltmain.sh
missing
configure
install-sh
CxxHead
hqstf
makelibs
m4
README
weights
bin
AUTHORS

._AUTHORS
._ChangeLog
._LICENCE
._Makefile.am
._NEWS
._ltmain.sh
._makelibs

testjobsCxx/._README
testjobsCxx/._exampleCxx.cc
testjobsCxx/._getgluonCxx.cc
testjobsCxx/._inputpdfCxx.h
testjobsCxx/._pdfsetsCxx.cc
testjobsCxx/._testhqstfCxx.cc
testjobsCxx/._testzmstfCxx.cc
testjobsCxx/exampleCxx.cc
testjobsCxx/exampleCxx_original.cc
testjobsCxx/getgluonCxx.cc
testjobsCxx/inputpdfCxx.h
testjobsCxx/pdfsetsCxx.cc
testjobsCxx/testhqstfCxx.cc
testjobsCxx/testzmstfCxx.cc
testjobsCxx/a.out
